@keyframes spin_01 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse_01 {
    0% {
        transform: scale(0.94);
        box-shadow: 0 0 0 0 $light-grey100;
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 12px $darkBlack;
    }

    100% {
        transform: scale(0.94);
        box-shadow: 0 0 0 0 $darkBlack;
    }
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0px transparent, 0 0 0 0px $main-color, 0 0 0 0px transparent, 0 0 0 0px $main-color, 0 0 0 0px transparent;
    }

    100% {
        box-shadow: 0 0 0 15px transparent, 0 0 0 17px $darkBlack, 0 0 0 40px transparent, 0 0 0 42px $darkBlack;
    }
}