:root {
  --main-color: #fe5757;
--text-color:#745a82;
  --main-to-dark-color: var(--main-color);
    --shadow-black-100: 0 5px 15px rgba(0,0,0,0.1);
    --shadow-black-300: 0 5px 15px rgba(0,0,0,0.3);
}

$white:#ffffff;
$main-color: #745a82;
$main-color100: #70577d;
