:root {
  --font16: 16px;

}
@media screen and (max-width: 1600px) {
  :root {
  --font18: 15px;
  }
}
@media screen and (max-width: 1440px) {
  :root {
    --font18: 14px;

  }
}

@media screen and (max-width: 768px) {
  :root {
  }
}
@media screen and (max-width: 576px) {
  :root {
    --font18: 12px;

  }
}
