/* ------------------
Footer
------------------- */
.footer {
  @include bgImage("../../Assets/images/footer-shape.jpeg");
  background-position: top;
  padding-top: 200px;
  text-align: left;

  .inner-footer {
    margin-bottom: 80px;
    text-align: center;

    img {
      margin: 0 auto 30px auto;
    }

    h5 {
      font-size: 30px;
      color: $main-color100;
      font-weight: 500;
      text-align: center;
      letter-spacing: 2px;
    }
  }

  .container {
    padding-bottom: 40px;
  }

  .footer-col {
    p {
      font-size: 20px;
      color: $main-color100;
      font-weight: 300;
      line-height: 26px;
      margin: 0;
    }

    h3 {
      font-size: 20px;
      font-weight: 700;
      color: $main-color100;
      margin: 0 0 25px;
      text-transform: capitalize;
    }

    img {
      margin-top: 30px;
      width: 160px;
    }

    ul {
      margin: 0;

      li {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
transition: transform 0.1s ease;
        a {
          font-size: 16px;
          color: $main-color100;
          font-weight: 400;
          display: block;
          text-transform: capitalize;
          transition: all 0.5s ease;
          text-decoration: none;
      transform: translateX(0);
    
    }

        &:hover {
          a {
            font-weight: 600;
            transform: translateX(5px);
          }
        }
      }
    }
  }

  .copyright-text {
    padding: 20px 0;
    color: $main-color100;
    background-color: $main-color;
  }
}