.navbar {
  position: fixed !important;
  box-shadow: 0 0 10px;
  z-index: 999;
  width: 100%;
  box-shadow: 0.174px -4.997px 21.5px rgba(2, 4, 0, 0.2);
  background-color: $white;
  position: relative;

  .navbar-brand {
    img {
      width: 160px;
    }
  }

  .navbar-nav .nav-link {
    color: $main-color;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-right: 20px;
    position: relative;

    &.active {
      &::before {
        background-color: $main-color;
        @include position-absolute(null, 50%, null, 0%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}