.meet {
  .heading_tab {
    position: relative;
    padding: 60px 0;
    @include bgImage("../../Assets/images/meet-shape.png");
    background-size: contain;
    width: 100%;
    margin: 0;
  }
  &_tab {
    padding-top: 45px;
  }
}
.more-btn {
  margin-top: 45px;
  display: inline-block;
  text-align: center;
  width: 100%;
}
