.preloader {
    @include flex(center, center, null);
    min-height: 100vh;
    background-color:$BlackPearl;

    .loader {
        position: absolute;
        width: 300px;
        @include animation(changeBg 2s);

        img {
            width: 100%;
            height: 100%;
        }
    }
}

@keyframes changeBg {
    to {
        filter: hue-rotate(360deg);
    }
}