.preloader {
    @include flex(center, center, null);
    min-height: 100vh;
    background-color: #001d30;

    .loader {
        position: absolute;
        width: 300px;
        animation: changeBg 2s linear infinite;

        img {
            width: 100%;
            height: 100%;
        }

        // background: linear-gradient(to top, #001d30 40%, #51eeee);
        // border-radius: 50%;
        // animation: rotate 2s linear infinite;

        // &::before,
        // &::after {
        //     content: '';
        //     position: absolute;
        //     border-radius: 50%;
        // }

        // &::before {
        //     background-color: #001d30;
        //     inset: 20px 20px 0 0;
        // }

        // &::after {
        //     top: 50px;
        //     right: -8px;
        //     width: 40px;
        //     height: 40px;
        //     background-color: #51eeee;
        //     box-shadow: 0 0 5px #51eeee, 0 0 25px #51eeee;
        //     // box-shadow: 0 0 5px #51eeee, 0 0 25px #51eeee, 0 0 50px #51eeee, 0 0 75px #51eeee;
        // }
    }
}

@keyframes changeBg {
    to {
        filter: hue-rotate(360deg);
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}